{
	admin 127.0.0.1:2019
}

mvanderloo.com {
	reverse_proxy https://10.116.0.3 {
		header_up Host mvanderloo.com

		transport http {
			tls_server_name mvanderloo.com
		}
	}
}

shape-of-the-day.com {
	reverse_proxy https://10.116.0.3 {
		header_up Host shape-of-the-day.com

		transport http {
			tls_server_name shape-of-the-day.com
		}
	}
}

auth.mvanderloo.com {
	reverse_proxy pocket-id:1411
}

rss.mvanderloo.com {
	reverse_proxy http://omega.bongo-sidemirror.ts.net:8082
}

todo.mvanderloo.com {
	reverse_proxy http://theta.bongo-sidemirror.ts.net:3456
}
